.card {
  background: var(--secundario);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  flex-direction: column;
  box-shadow: 1px 5px 10px 0 #2929298a;
  border-radius: 0.4rem;
  padding: 1rem;
  cursor: pointer;
}

.card .cardHeader {
  /* background: #e71717; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.card .cardHeader .contTitulo {
  /* background: #048a78; */
  border-left: 3px solid var(--primario);
  padding: 0 0.5rem;
}

.card .contTitulo .titulo {
  color: var(--primario);
  font-size: 0.9rem;
}

.card .contTitulo .subTitulo {
  color: var(--terciario);
  font-size: 1.1rem;
}

.card .cardHeader .btnTabla {
  background: transparent;
  width: 2.1rem;
  height: 2.1rem;
  color: var(--primario);
  border: 1px solid var(--primario);
  border-radius: 50%;
  cursor: pointer;
  transition: all .5s ease;
}

.card .cardHeader .btnTabla:hover {
  background: var(--primario);
  color: var(--secundario);
}

.card .contTabla {
  /* background: #f55f5f; */
  width: 100%;
  height: 83%;
  padding-top: 1.5rem;
}

.card .contTabla .tabla {
  /* background: #f55f5f; */
  width: 100%;
  height: 100%;
  color: var(--terciario);
}

.card .contTabla .tabla .tablaPos {
  position: sticky;
  /* background: #fff; */
  left: 0px;
	white-space: nowrap;
}

.card .contTabla .tabla .tablaCenter {
	text-align: center;
}

.card .contTabla .tabla .tablaLeft {
	text-align: left;
}

.card .contTabla .tabla .headerTable {
  font-size: .8rem;
  font-weight: normal;
}

.color {
  background: var(--primario);
  width: 7px;
  height: 7px;
  border-radius: 50%;
}